
<% if flash[:notice] %>
<p class="flash">
<%= flash[:notice] %>
 </p>
 <% end %>



<h2>title</h2>
<%= @book.title %>

<h2>body</h2>
<%= @book.body %>

<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "back", books_path %>

